@page "/newsale"
@attribute [Authorize]
@inject HttpClient Http
@inject IJSRuntime JsRuntime

<PageTitle>New Sale</PageTitle>

<h1>New Sale</h1>

<div class="row">
    <div class="col-md-5">
        <CartDisplay Cart="cart"
                     OnRemoveProduct="HandleRemoveProduct"
                     OnAddPayment="HandleAddPayment" />
    </div>
    <div class="col-md-7">
        <ProductSelection ProductCategories="allProductCategories"
                          Products="allProducts"
                          OnProductSelect="HandleProductSelect" />
    </div>
</div>

@code {
    ProductCategoryViewModel[]? allProductCategories;
    ProductViewModel[]? allProducts;
    Cart cart = new();

    protected override async Task OnInitializedAsync()
    {
        allProductCategories = await Http.GetFromJsonAsync<ProductCategoryViewModel[]>("api/productcategory");
        allProducts = await Http.GetFromJsonAsync<ProductViewModel[]>("api/product");
    }

    private async Task HandleProductSelect(ProductViewModel product)
    {
        StockRequestDTO stockRequestDTO = new()
            {
                ProductId = product.Id,
                CartQuantity = cart.ProductQuantity(product.Code)
            };

        var response = await Http.PostAsJsonAsync<StockRequestDTO>("api/stock/request", stockRequestDTO);
        var canBook = await response.Content.ReadFromJsonAsync<bool>();

        if (canBook)
            cart.AddToCart(product);
        else
            await JsRuntime.InvokeVoidAsync("alert", "Unable to add to cart, insufficient stock.");
    }

    private void HandleRemoveProduct(ProductViewModel product)
    {
        cart.RemoveFromCart(product);
    }

    private async Task HandleAddPayment(AddPaymentDTO addPaymentDTO)
    {
        NewSaleDTO newSaleDTO = new() { Cart = cart, Payment = addPaymentDTO };
        await Http.PostAsJsonAsync<NewSaleDTO>("api/sale", newSaleDTO);
        cart = new();
    }
}