<div class="row">
    <div class="col-md-4">
        <SaleDetailCard SaleDetailViewModel="SaleDetailViewModel" />
    </div>
    <div class="col-md-4">
        <SaleDetailProductCard Products="SaleDetailViewModel.Products" />
    </div>
    <div class="col-md-4">
        <SaleDetailTransactionCard Transactions="SaleDetailViewModel.Transactions" />
    </div>
</div>

@code {
    [Parameter] public SaleDetailViewModel SaleDetailViewModel { get; set; } = default!;
}