<div class="card">
    <div class="card-body">
        @if (Outstanding > 0)
        {
            <AddPaymentButton AmountDue="Outstanding"
                          ButtonText="Add Payment" OnAddPayment="HandleAddPayment" />
        }
        <table class="table">
            @foreach (var transaction in Transactions)
            {
                <tr>
                    <td>
                        @transaction.Type
                    </td>
                    <td>
                        @transaction.Amount
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@code {
    [Parameter] public decimal Outstanding { get; set; }
    [Parameter] public IEnumerable<SaleDetailTransactionViewModel> Transactions { get; set; } = default!;
    [Parameter] public EventCallback<AddPaymentDTO> OnAddPayment { get; set; }

    private async Task HandleAddPayment(AddPaymentDTO addPaymentDTO) =>
        await OnAddPayment.InvokeAsync(addPaymentDTO);
}
